.logo {
 &.logo-sm {
  height: var(--icon-size-sm);
  width: var(--icon-size-sm);
 }
 &.logo-md {
  height: var(--icon-size-md);
  width: var(--icon-size-md);
 }
 &.logo-lg {
  height: var(--icon-size-lg);
  width: var(--icon-size-lg);
 }

 &.logo-xl {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
 }

 &.logo-muted {
  & .surface-logo {
   fill: var(--color-surface-interactive);
  }
  & .path {
   fill: var(--color-icon-strong);
  }
 }

 &.logo-strong {
  & .surface-logo {
   fill: var(--color-surface-inverse);
  }
  & .path {
   fill: var(--color-surface-default);
  }
 }
}
