.logo {
 &.logo-size--sm {
  height: var(--size-md);
  width: var(--size-md);
 }
 &.logo-size--md {
  height: var(--size-xl);
  width: var(--size-xl);
 }
 &.logo-size--lg {
  height: var(--size-2xl);
  width: var(--size-2xl);
 }

 &.logo-size--xl {
  height: var(--size-3xl);
  width: var(--size-3xl);
 }

 &.logo-color--muted {
  & .bg {
   fill: var(--color-surface-interactive);
  }
  & .path {
   fill: var(--color-icon-strong);
  }
 }

 &.logo-color--strong {
  & .bg {
   fill: var(--color-surface-inverse);
  }
  & .path {
   fill: var(--color-surface-default);
  }
 }
}
