.text {
 line-height: var(--leading-normal);
 color: var(--color-text-muted);
 font-weight: var(--font-weight-normal);

 &.text-small {
  font-size: var(--font-size-sm);
 }
 &.text-bold {
  font-weight: var(--font-weight-bold);
 }
 &.text-strong {
  color: var(--color-text-strong);
 }
}
