.icon {
 & svg {
  stroke-width: var(--icon-stroke-width);
 }

 &.icon-size--sm svg {
  height: var(--size-md);
  width: var(--size-md);
 }
 &.icon-size--md svg {
  height: var(--size-xl);
  width: var(--size-xl);
 }
 &.icon-size--lg svg {
  height: var(--size-2xl);
  width: var(--size-2xl);
 }

 &.icon-color--muted svg {
  stroke: var(--color-icon-muted);
 }
 &.icon-color--strong svg {
  stroke: var(--color-icon-strong);
 }
 &.icon-color--inverse svg {
  stroke: var(--color-icon-inverse);
 }
}
