// styles de base (html, body, headings…)
@layer base {
 html {
  font-family: var(--font-family-sans-serif);
  color: var(--color-text-strong);
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  font-size: var(--font-size);
 }

 a {
  text-decoration: none;
 }
}
