.heading {
 font-weight: var(--font-weight-bold);
 line-height: var(--leading-snug);
 color: var(--color-text-strong);
}

.heading-1 {
 font-size: var(--font-size-3);
}

.heading-2 {
 font-size: var(--font-size-2_25);
}

.heading-3 {
 font-size: var(--font-size-1_875);
}

.heading-4 {
 font-size: var(--font-size-1_5);
}

.heading-5 {
 font-size: var(--font-size-1_25);
}

.heading-6 {
 font-size: var(--font-size-1_125);
}

.heading__normal {
 font-weight: var(--font-weight-normal);
}

.heading__muted {
 color: var(--color-text-muted);
}
