@font-face {
  font-family: "InterVariable";
  src: url("/fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GoogleSansCodeVariable";
  src: url("/fonts/GoogleSansCode-Variable.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

@layer variables {
  :root {
    /* SIZES */
    --size-base: 2px;
    --size-3xs: calc(var(--size-base) * 1);
    --size-2xs: calc(var(--size-base) * 2);
    --size-xs: calc(var(--size-base) * 4);
    --size-sm: calc(var(--size-base) * 6);
    --size-md: calc(var(--size-base) * 8);
    --size-lg: calc(var(--size-base) * 10);
    --size-xl: calc(var(--size-base) * 12);
    --size-2xl: calc(var(--size-base) * 16);
    --size-3xl: calc(var(--size-base) * 32);
    --size-4xl: calc(var(--size-base) * 64);
    --radius-inside: var(--size-sm);
    --radius-default: var(--size-md);
    --radius-outside-lg: var(--size-lg);
    --radius-outside-xl: var(--size-xl);
    --radius-rounded: 9999rem;
    --icon-sm: var(--size-md);
    --icon-md: var(--size-xl);
    --icon-lg: var(--size-2xl);
    --icon-stroke-width: 1.5;
    /* COLORS */
    color-scheme: light dark;
    --color-white: #ffffff;
    --color-black: #0c0c0c;
    --color-neutral-0: light-dark(var(--color-white), var(--color-black));
    --color-neutral-1: light-dark(#fcfcfd, #111113);
    --color-neutral-2: light-dark(#f9f9fb, #18191b);
    --color-neutral-3: light-dark(#f0f0f3, #212225);
    --color-neutral-4: light-dark(#e8e8ec, #272a2d);
    --color-neutral-5: light-dark(#e0e1e6, #2e3135);
    --color-neutral-6: light-dark(#d9d9e0, #363a3f);
    --color-neutral-7: light-dark(#cdced6, #43484e);
    --color-neutral-8: light-dark(#b9bbc6, #5a6169);
    --color-neutral-9: light-dark(#8b8d98, #696e77);
    --color-neutral-10: light-dark(#80838d, #777b84);
    --color-neutral-11: light-dark(#60646c, #b0b4ba);
    --color-neutral-12: light-dark(#1c2024, #edeef0);
    --color-neutral-13: light-dark(var(--color-black), var(--color-white));
    @supports (color: oklch(0 0 0)) {
      --color-white: oklch(1 0 0);
      --color-black: oklch(0.154 0 0);
      --color-neutral-0: light-dark(var(--color-white), var(--color-black));
      --color-neutral-1: light-dark(
        oklch(0.993 0.002 256),
        oklch(0.165 0.007 264)
      );
      --color-neutral-2: light-dark(
        oklch(0.982 0.002 256),
        oklch(0.197 0.008 264)
      );
      --color-neutral-3: light-dark(
        oklch(0.959 0.004 256),
        oklch(0.256 0.011 264)
      );
      --color-neutral-4: light-dark(
        oklch(0.936 0.006 256),
        oklch(0.303 0.013 264)
      );
      --color-neutral-5: light-dark(
        oklch(0.914 0.008 256),
        oklch(0.349 0.014 264)
      );
      --color-neutral-6: light-dark(
        oklch(0.889 0.01 256),
        oklch(0.396 0.016 264)
      );
      --color-neutral-7: light-dark(
        oklch(0.859 0.012 256),
        oklch(0.459 0.018 264)
      );
      --color-neutral-8: light-dark(
        oklch(0.811 0.016 256),
        oklch(0.548 0.02 264)
      );
      --color-neutral-9: light-dark(
        oklch(0.645 0.018 256),
        oklch(0.645 0.018 256)
      ); /* même valeur */
      --color-neutral-10: light-dark(
        oklch(0.601 0.02 256),
        oklch(0.716 0.016 256)
      );
      --color-neutral-11: light-dark(
        oklch(0.501 0.018 256),
        oklch(0.86 0.008 256)
      );
      --color-neutral-12: light-dark(
        oklch(0.378 0.016 256),
        oklch(0.932 0.004 256)
      );
      --color-neutral-13: light-dark(var(--color-black), var(--color-white));
    }
  }
}

@layer theme {
  :root {
    /* COLORS */
    --color-surface-app: var(--color-neutral-1);
    --color-surface-subtle: var(--color-neutral-2);
    --color-surface-solid: var(--color-neutral-12);
    --color-surface-solid-hover: var(--color-neutral-13);
    --color-surface-theme: var(--color-neutral-0);
    --color-surface-opposite-theme: var(--color-neutral-13);
    --color-ui: var(--color-neutral-3);
    --color-ui-hover: var(--color-neutral-4);
    --color-ui-active: var(--color-neutral-5);
    --color-border-app: var(--color-surface-app);
    --color-border-subtle: var(--color-neutral-6);
    --color-border: var(--color-neutral-7);
    --color-border-hover: var(--color-neutral-8);
    --color-text-low-contrast: var(--color-neutral-11);
    --color-text-hight-contrast: var(--color-neutral-12);
    --color-text-theme: var(--color-neutral-1);
    --color-icon-low-contrast: var(--color-neutral-11);
    --color-icon-hight-contrast: var(--color-neutral-12);
    --color-icon-theme: var(--color-neutral-1);
    /* TYPO */
    --font-family-sans-serif: "InterVariable";
    --font-family-mono: "GoogleSansCodeVariable";
    --leading-snug: 1.375;
    --leading-relaxed: 1.625;
    /* RESPONSIVE */
    --body-max-width: 720px;
    --body-margin: var(--size-xl);
    --body-gutter: var(--size-md);
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  html,
  :host {
    -webkit-text-size-adjust: 100%;
    line-height: var(--leading-relaxed);
    font-family: var(
      --font-family-sans-serif,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji"
    );
    -webkit-tap-highlight-color: transparent;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(
      --font-family-mono,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace
    );
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(
      --default-mono-font-variation-settings,
      normal
    );
    font-size: 1em;
  }

  #root,
  #__next {
    isolation: isolate;
  }
}

@layer components {
  .heading {
    font-weight: 500;
    line-height: var(--leading-snug);
  }

  /* BUTTON */
  .btn {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-2xs);
    padding-inline: var(--size-sm);
    min-height: 2.5rem;
    border-radius: var(--radius-default);

    &.btn-soft {
      color: var(--color-text-hight-contrast);
      background-color: var(--color-ui);

      & svg {
        stroke: var(--color-icon-hight-contrast);
      }
    }

    & .btn__label {
      padding-inline: var(--size-2xs);
    }

    & svg {
      height: var(--icon-sm);
      width: var(--icon-sm);
      stroke-width: var(--icon-stroke-width);
    }
  }

  .btn:hover {
    cursor: pointer;

    &.btn-soft {
      background-color: var(--color-ui-hover);
    }
  }
}

@layer utilities {
  /* FLEX */
  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-col-reverse {
    flex-direction: column-reverse;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .gap-3xs {
    gap: var(--size-3xs);
  }

  .gap-2xs {
    gap: var(--size-2xs);
  }

  .gap-xs {
    gap: var(--size-xs);
  }

  .gap-sm {
    gap: var(--size-sm);
  }

  .gap-md {
    gap: var(--size-md);
  }

  .gap-lg {
    gap: var(--size-lg);
  }

  .gap-xl {
    gap: var(--size-xl);
  }

  .gap-2xl {
    gap: var(--size-2xl);
  }

  .gap-3xl {
    gap: var(--size-3xl);
  }

  .gap-4xl {
    gap: var(--size-4xl);
  }

  /* MARGIN */
  .mx-auto {
    margin-inline: auto;
  }

  .mt-3xs {
    margin-top: var(--size-3xs);
  }

  .mb-3xs {
    margin-bottom: var(--size-3xs);
  }

  .mt-2xs {
    margin-top: var(--size-2xs);
  }

  .mb-2xs {
    margin-bottom: var(--size-2xs);
  }

  .mt-xs {
    margin-top: var(--size-xs);
  }

  .mb-xs {
    margin-bottom: var(--size-xs);
  }

  .mt-sm {
    margin-top: var(--size-sm);
  }

  .mb-sm {
    margin-bottom: var(--size-sm);
  }

  .mt-md {
    margin-top: var(--size-md);
  }

  .mb-md {
    margin-bottom: var(--size-md);
  }

  .mt-lg {
    margin-top: var(--size-lg);
  }

  .mb-lg {
    margin-bottom: var(--size-lg);
  }

  .mt-xl {
    margin-top: var(--size-xl);
  }

  .mb-xl {
    margin-bottom: var(--size-xl);
  }

  .mt-2xl {
    margin-top: var(--size-2xl);
  }

  .mb-2xl {
    margin-bottom: var(--size-2xl);
  }

  .mt-3xl {
    margin-top: var(--size-3xl);
  }

  .mb-3xl {
    margin-bottom: var(--size-3xl);
  }

  .mt-4xl {
    margin-top: var(--size-4xl);
  }

  .mb-4xl {
    margin-bottom: var(--size-4xl);
  }
  /* PADDING */
  .pt-3xs {
    padding-top: var(--size-3xs);
  }

  .pb-3xs {
    padding-bottom: var(--size-3xs);
  }

  .pt-2xs {
    padding-top: var(--size-2xs);
  }

  .pb-2xs {
    padding-bottom: var(--size-2xs);
  }

  .pt-xs {
    padding-top: var(--size-xs);
  }

  .pb-xs {
    padding-bottom: var(--size-xs);
  }

  .pt-sm {
    padding-top: var(--size-sm);
  }

  .pb-sm {
    padding-bottom: var(--size-sm);
  }

  .pt-md {
    padding-top: var(--size-md);
  }

  .pb-md {
    padding-bottom: var(--size-md);
  }

  .pt-lg {
    padding-top: var(--size-lg);
  }

  .pb-lg {
    padding-bottom: var(--size-lg);
  }

  .pt-xl {
    padding-top: var(--size-xl);
  }

  .pb-xl {
    padding-bottom: var(--size-xl);
  }

  .pt-2xl {
    padding-top: var(--size-2xl);
  }

  .pb-2xl {
    padding-bottom: var(--size-2xl);
  }

  .pt-3xl {
    padding-top: var(--size-3xl);
  }

  .pb-3xl {
    padding-bottom: var(--size-3xl);
  }

  .pt-4xl {
    padding-top: var(--size-4xl);
  }

  .pb-4xl {
    padding-bottom: var(--size-4xl);
  }

  /* WIDTH */
  .w-100 {
    width: 100%;
  }

  /* BACKGROUND COLOR */
  .surface-app {
    background-color: var(--color-surface-app);
  }

  .surface-subtle {
    background-color: var(--color-surface-subtle);
  }

  .container-app {
    padding-inline: var(--body-margin);
    max-width: var(--body-max-width);
  }

  .text-low-contrast {
    color: var(--color-text-low-contrast);
  }

  .text-hight-contrast {
    color: var(--color-text-hight-contrast);
  }
}
