@font-face {
  font-family: "InterVariable";
  src: url("/fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GoogleSansCodeVariable";
  src: url("/fonts/GoogleSansCode-Variable.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

@layer variables {
  :root {
    /* SIZES */
    --size-base: 2px;
    --size-3xs: calc(var(--size-base) * 1);
    --size-2xs: calc(var(--size-base) * 2);
    --size-xs: calc(var(--size-base) * 4);
    --size-sm: calc(var(--size-base) * 6);
    --size-md: calc(var(--size-base) * 8);
    --size-lg: calc(var(--size-base) * 10);
    --size-xl: calc(var(--size-base) * 12);
    --size-2xl: calc(var(--size-base) * 16);
    --size-3xl: calc(var(--size-base) * 32);
    --size-4xl: calc(var(--size-base) * 64);
    --radius-inside: var(--size-sm);
    --radius-default: var(--size-md);
    --radius-outside-lg: var(--size-lg);
    --radius-outside-xl: var(--size-xl);
    --radius-rounded: 9999rem;
    --icon-sm: var(--size-md);
    --icon-md: var(--size-xl);
    --icon-lg: var(--size-2xl);
    --icon-stroke-width: 1.5;
    /* COLORS */
    color-scheme: light dark;
    --color-white: #ffffff;
    --color-black: #0c0c0c;
    --color-neutral-0: light-dark(var(--color-white), var(--color-black));
    --color-neutral-1: light-dark(#fcfcfd, #111113);
    --color-neutral-2: light-dark(#f9f9fb, #18191b);
    --color-neutral-3: light-dark(#f0f0f3, #212225);
    --color-neutral-4: light-dark(#e8e8ec, #272a2d);
    --color-neutral-5: light-dark(#e0e1e6, #2e3135);
    --color-neutral-6: light-dark(#d9d9e0, #363a3f);
    --color-neutral-7: light-dark(#cdced6, #43484e);
    --color-neutral-8: light-dark(#b9bbc6, #5a6169);
    --color-neutral-9: light-dark(#8b8d98, #696e77);
    --color-neutral-10: light-dark(#80838d, #777b84);
    --color-neutral-11: light-dark(#60646c, #b0b4ba);
    --color-neutral-12: light-dark(#1c2024, #edeef0);
    --color-neutral-13: light-dark(var(--color-black), var(--color-white));
    --color-primary-1: light-dark(#fdfcfe, #14121f);
    --color-primary-2: light-dark(#faf8ff, #1b1525);
    --color-primary-3: light-dark(#f4f0fe, #291f43);
    --color-primary-4: light-dark(#ebe4ff, #33255b);
    --color-primary-5: light-dark(#e1d9ff, #3c2e69);
    --color-primary-6: light-dark(#d4cafe, #473876);
    --color-primary-7: light-dark(#c2b5f5, #56468b);
    --color-primary-8: light-dark(#aa99ec, #6958ad);
    --color-primary-9: light-dark(#6e56cf, #6e56cf);
    --color-primary-10: light-dark(#654dc4, #7d66d9);
    --color-primary-11: light-dark(#6550b9, #baa7ff);
    --color-primary-12: light-dark(#2f265f, #e2ddfe);

    @supports (color: oklch(0 0 0)) {
      --color-white: oklch(1 0 0);
      --color-black: oklch(0.154 0 0);
      --color-neutral-0: light-dark(var(--color-white), var(--color-black));
      --color-neutral-1: light-dark(
        oklch(0.991 0.001 286.4),
        oklch(0.179 0.004 286)
      );
      --color-neutral-2: light-dark(
        oklch(0.983 0.003 286.4),
        oklch(0.213 0.004 264.5)
      );
      --color-neutral-3: light-dark(
        oklch(0.956 0.004 286.3),
        oklch(0.252 0.006 271.2)
      );
      --color-neutral-4: light-dark(
        oklch(0.932 0.005 286.3),
        oklch(0.283 0.007 248.1)
      );
      --color-neutral-5: light-dark(
        oklch(0.91 0.007 277.2),
        oklch(0.312 0.008 255.6)
      );
      --color-neutral-6: light-dark(
        oklch(0.887 0.01 286.2),
        oklch(0.347 0.01 254)
      );
      --color-neutral-7: light-dark(
        oklch(0.853 0.011 280.4),
        oklch(0.399 0.012 252.9)
      );
      --color-neutral-8: light-dark(
        oklch(0.794 0.016 277.8),
        oklch(0.489 0.016 251.7)
      );
      --color-neutral-9: light-dark(
        oklch(0.645 0.016 277.7),
        oklch(0.537 0.015 262.3)
      );
      --color-neutral-10: light-dark(
        oklch(0.611 0.015 272.6),
        oklch(0.583 0.015 266.6)
      );
      --color-neutral-11: light-dark(
        oklch(0.502 0.014 264.4),
        oklch(0.769 0.01 258.3)
      );
      --color-neutral-12: light-dark(
        oklch(0.241 0.01 248.2),
        oklch(0.949 0.003 264.5)
      );
      --color-neutral-13: light-dark(var(--color-black), var(--color-white));
      --color-primary-1: light-dark(
        oklch(0.992 0.003 308.4),
        oklch(0.191 0.026 290.8)
      );
      --color-primary-2: light-dark(
        oklch(0.983 0.009 299.2),
        oklch(0.211 0.032 300.9)
      );
      --color-primary-3: light-dark(
        oklch(0.962 0.019 299.1),
        oklch(0.271 0.065 294.4)
      );
      --color-primary-4: light-dark(
        oklch(0.932 0.037 297.5),
        oklch(0.312 0.093 292.1)
      );
      --color-primary-5: light-dark(
        oklch(0.904 0.052 295),
        oklch(0.349 0.099 291.3)
      );
      --color-primary-6: light-dark(
        oklch(0.864 0.072 293.7),
        oklch(0.389 0.102 292.1)
      );
      --color-primary-7: light-dark(
        oklch(0.806 0.09 293.6),
        oklch(0.445 0.11 292)
      );
      --color-primary-8: light-dark(
        oklch(0.73 0.119 292.6),
        oklch(0.518 0.131 290.3)
      );
      --color-primary-9: light-dark(
        oklch(0.542 0.179 288),
        oklch(0.542 0.179 288)
      );
      --color-primary-10: light-dark(
        oklch(0.511 0.177 287.7),
        oklch(0.589 0.169 289.4)
      );
      --color-primary-11: light-dark(
        oklch(0.508 0.159 288.6),
        oklch(0.778 0.125 293.2)
      );
      --color-primary-12: light-dark(
        oklch(0.313 0.097 286.6),
        oklch(0.912 0.045 292.4)
      );
    }
  }
}

@layer theme {
  :root {
    /* COLORS */
    --color-surface-app: var(--color-neutral-1);
    --color-surface-subtle: var(--color-neutral-2);
    --color-surface-solid: var(--color-neutral-12);
    --color-surface-solid-hover: var(--color-neutral-13);
    --color-surface-theme: var(--color-neutral-0);
    --color-surface-opposite-theme: var(--color-neutral-13);
    --color-ui: var(--color-neutral-3);
    --color-ui-hover: var(--color-neutral-4);
    --color-ui-active: var(--color-neutral-5);
    --color-border-app: var(--color-surface-app);
    --color-border-subtle: var(--color-neutral-6);
    --color-border: var(--color-neutral-7);
    --color-border-hover: var(--color-neutral-8);
    --color-text-low-contrast: var(--color-neutral-11);
    --color-text-hight-contrast: var(--color-neutral-12);
    --color-text-theme: var(--color-neutral-1);
    --color-icon-low-contrast: var(--color-neutral-11);
    --color-icon-hight-contrast: var(--color-neutral-12);
    --color-icon-theme: var(--color-neutral-1);
    /* BORDER */
    --border-width: 1px;
    /* TYPO */
    --font-family-sans-serif: "InterVariable";
    --font-family-mono: "GoogleSansCodeVariable";
    --leading-snug: 1.375;
    --leading-relaxed: 1.625;
    /* RESPONSIVE */
    --body-max-width: 720px;
    --body-margin: var(--size-xl);
    --body-gutter: var(--size-md);
    /* SHADOW */
    --shadow-sm: 0 0 2px -1px rgb(from var(--color-black) r g b / 10%),
      0 2px 4px 0 rgb(from var(--color-black) r g b / 6%);
    --shadow-md: 0 0 2px -1px rgb(from var(--color-black) r g b / 10%),
      0 4px 6px -4px rgb(from var(--color-black) r g b / 6%),
      0 10px 15px -3px rgb(from var(--color-black) r g b / 4%);
    @supports (color: oklch(0 0 0)) {
      --shadow-sm: 0 0 2px -1px oklch(from var(--color-black) l c h / 10%),
        0 2px 4px 0 oklch(from var(--color-black) l c h / 6%);
      --shadow-md: 0 0 2px -1px oklch(from var(--color-black) l c h / 10%),
        0 4px 6px -4px oklch(from var(--color-black) l c h / 6%),
        0 10px 15px -3px oklch(from var(--color-black) l c h / 4%);
    }
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  html,
  :host {
    -webkit-text-size-adjust: 100%;
    line-height: var(--leading-relaxed);
    font-family: var(
      --font-family-sans-serif,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji"
    );
    -webkit-tap-highlight-color: transparent;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(
      --font-family-mono,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace
    );
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(
      --default-mono-font-variation-settings,
      normal
    );
    font-size: 1em;
  }

  #root,
  #__next {
    isolation: isolate;
  }
}

@layer utilities {
  /* FLEX */
  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-col-reverse {
    flex-direction: column-reverse;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .gap-3xs {
    gap: var(--size-3xs);
  }

  .gap-2xs {
    gap: var(--size-2xs);
  }

  .gap-xs {
    gap: var(--size-xs);
  }

  .gap-sm {
    gap: var(--size-sm);
  }

  .gap-md {
    gap: var(--size-md);
  }

  .gap-lg {
    gap: var(--size-lg);
  }

  .gap-xl {
    gap: var(--size-xl);
  }

  .gap-2xl {
    gap: var(--size-2xl);
  }

  .gap-3xl {
    gap: var(--size-3xl);
  }

  .gap-4xl {
    gap: var(--size-4xl);
  }

  /* GRID */
  .container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: var(--body-gutter);
  }

  .grid-col-1 {
    grid-column: span 1 / span 1;
  }

  .grid-col-2 {
    grid-column: span 2 / span 2;
  }

  .grid-col-3 {
    grid-column: span 3 / span 3;
  }

  .grid-col-4 {
    grid-column: span 4 / span 4;
  }

  .grid-col-5 {
    grid-column: span 5 / span 5;
  }

  .grid-col-6 {
    grid-column: span 6 / span 6;
  }

  .grid-col-7 {
    grid-column: span 7 / span 7;
  }

  .grid-col-8 {
    grid-column: span 8 / span 8;
  }

  .grid-col-9 {
    grid-column: span 9 / span 9;
  }

  .grid-col-10 {
    grid-column: span 10 / span 10;
  }

  .grid-col-11 {
    grid-column: span 11 / span 11;
  }

  .grid-col-12 {
    grid-column: span 12 / span 12;
  }

  /* MARGIN */
  .m-3xs {
    margin: var(--size-3xs);
  }
  .m-2xs {
    margin: var(--size-2xs);
  }
  .m-xs {
    margin: var(--size-xs);
  }
  .m-sm {
    margin: var(--size-sm);
  }
  .m-md {
    margin: var(--size-md);
  }
  .m-lg {
    margin: var(--size-lg);
  }
  .m-xl {
    margin: var(--size-xl);
  }
  .m-2xl {
    margin: var(--size-2xl);
  }
  .m-3xl {
    margin: var(--size-3xl);
  }
  .m-4xl {
    margin: var(--size-4xl);
  }

  .mx-auto {
    margin-inline: auto;
  }

  .mt-3xs {
    margin-top: var(--size-3xs);
  }

  .mb-3xs {
    margin-bottom: var(--size-3xs);
  }

  .mt-2xs {
    margin-top: var(--size-2xs);
  }

  .mb-2xs {
    margin-bottom: var(--size-2xs);
  }

  .mt-xs {
    margin-top: var(--size-xs);
  }

  .mb-xs {
    margin-bottom: var(--size-xs);
  }

  .mt-sm {
    margin-top: var(--size-sm);
  }

  .mb-sm {
    margin-bottom: var(--size-sm);
  }

  .mt-md {
    margin-top: var(--size-md);
  }

  .mb-md {
    margin-bottom: var(--size-md);
  }

  .mt-lg {
    margin-top: var(--size-lg);
  }

  .mb-lg {
    margin-bottom: var(--size-lg);
  }

  .mt-xl {
    margin-top: var(--size-xl);
  }

  .mb-xl {
    margin-bottom: var(--size-xl);
  }

  .mt-2xl {
    margin-top: var(--size-2xl);
  }

  .mb-2xl {
    margin-bottom: var(--size-2xl);
  }

  .mt-3xl {
    margin-top: var(--size-3xl);
  }

  .mb-3xl {
    margin-bottom: var(--size-3xl);
  }

  .mt-4xl {
    margin-top: var(--size-4xl);
  }

  .mb-4xl {
    margin-bottom: var(--size-4xl);
  }
  /* PADDING */
  .p-3xs {
    padding: var(--size-3xs);
  }
  .p-2xs {
    padding: var(--size-2xs);
  }
  .p-xs {
    padding: var(--size-xs);
  }
  .p-sm {
    padding: var(--size-sm);
  }
  .p-md {
    padding: var(--size-md);
  }
  .p-lg {
    padding: var(--size-lg);
  }
  .p-xl {
    padding: var(--size-xl);
  }
  .p-2xl {
    padding: var(--size-2xl);
  }
  .p-3xl {
    padding: var(--size-3xl);
  }
  .p-4xl {
    padding: var(--size-4xl);
  }

  .pt-3xs {
    padding-top: var(--size-3xs);
  }

  .pb-3xs {
    padding-bottom: var(--size-3xs);
  }

  .pt-2xs {
    padding-top: var(--size-2xs);
  }

  .pb-2xs {
    padding-bottom: var(--size-2xs);
  }

  .pt-xs {
    padding-top: var(--size-xs);
  }

  .pb-xs {
    padding-bottom: var(--size-xs);
  }

  .pt-sm {
    padding-top: var(--size-sm);
  }

  .pb-sm {
    padding-bottom: var(--size-sm);
  }

  .pt-md {
    padding-top: var(--size-md);
  }

  .pb-md {
    padding-bottom: var(--size-md);
  }

  .pt-lg {
    padding-top: var(--size-lg);
  }

  .pb-lg {
    padding-bottom: var(--size-lg);
  }

  .pt-xl {
    padding-top: var(--size-xl);
  }

  .pb-xl {
    padding-bottom: var(--size-xl);
  }

  .pt-2xl {
    padding-top: var(--size-2xl);
  }

  .pb-2xl {
    padding-bottom: var(--size-2xl);
  }

  .pt-3xl {
    padding-top: var(--size-3xl);
  }

  .pb-3xl {
    padding-bottom: var(--size-3xl);
  }

  .pt-4xl {
    padding-top: var(--size-4xl);
  }

  .pb-4xl {
    padding-bottom: var(--size-4xl);
  }

  /* WIDTH */
  .w-100 {
    width: 100%;
  }

  /* BACKGROUND COLOR */
  .surface-app {
    background-color: var(--color-surface-app);
  }

  .surface-subtle {
    background-color: var(--color-surface-subtle);
  }

  .surface-theme {
    background-color: var(--color-surface-theme);
  }

  .container-app {
    padding-inline: var(--body-margin);
    max-width: var(--body-max-width);
  }

  /* TEXT */
  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .text-low-contrast {
    color: var(--color-text-low-contrast);
  }

  .text-hight-contrast {
    color: var(--color-text-hight-contrast);
  }

  .heading {
    font-weight: 500;
    line-height: var(--leading-snug);
  }
}
