.markdown-content {
 display: flex;
 flex-direction: column;
 gap: var(--size-md);
 padding-bottom: var(--size-md);

 & h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  color: var(--color-text-low-contrast);
  margin-top: var(--size-md);
  font-weight: 500;
  line-height: var(--leading-snug);
 }

 & p {
  color: var(--color-text-low-contrast);
 }

 & ul {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
  padding-inline-start: var(--size-md);
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;

  & li {
   color: var(--color-text-low-contrast);
   &::marker {
    color: var(--color-ui-active);
   }
  }
 }

 & .list-badge ul {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;

  & li {
   font-size: var(--font-size-xs);
   border: solid var(--border-width) var(--color-border-subtle);
   border-radius: var(--radius-rounded);
   padding: var(--size-2xs) var(--size-sm);
   color: var(--color-text-low-contrast);
   font-family: var(--font-family-mono);
  }
 }
}
