@use "../../../styles/tools/typography";

.markdown-content {
 display: flex;
 flex-direction: column;
 gap: var(--size-md);
 padding-bottom: var(--size-md);
 color: var(--color-text-muted);

 & h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  margin-top: var(--size-md);
  @include typography.heading-base;
 }

 & ul {
  @include typography.dot-list;
 }

 & .list-badge ul {
  @include typography.badge-list;
 }
}
