---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/molecules/Accordion/Accordion";
---

<Layout>
	<div class="flex flex-col gap-4xl">
		<Accordion client:load />
	</div>
</Layout>
