---
import { Hero, KeyHighlights, Tile } from "@components";
import { KEYHIGHLIGHTS_DATA, KEYSOCIALS_DATA } from "@data";
import Layout from "@layouts/Layout.astro";
---

<Layout>
 <div class="flex flex-col gap-4xl">
  <Hero />

  <KeyHighlights data={KEYHIGHLIGHTS_DATA} />

  <div class="flex flex-col gap-lg">
   <h3 class="heading">Mes profils</h3>
   <div class="container-grid">
    {KEYSOCIALS_DATA.map((item) => <Tile target="_blank" {...item} />)}
   </div>
  </div>
 </div>
</Layout>
