---
import { Hero, TileGroup } from "@components";
import { KEYHIGHLIGHTS_DATA, KEYSOCIALS_DATA } from "@data";
import Layout from "@layouts/Layout.astro";
---

<Layout>
 <div class="flex flex-col gap-5xl">
  <Hero />
  <TileGroup data={KEYHIGHLIGHTS_DATA} />
  <TileGroup title="Mes profils" data={KEYSOCIALS_DATA} />
 </div>
</Layout>
