---
import Button from '../components/button/button';
import Layout from '../layouts/Layout.astro';


---

<Layout>
	<div class="flex flex-col gap-4xl">
		<div class="flex flex-col">
		<div class="flex flex-col mt-2xl mb-2xl">
			<h2 class="heading text-hight-contrast">Hugo Miranda</h2>
			<h3 class="heading text-low-contrast">Développeur Front-End & Ui Designer</h3>
		</div>
		<div class="flex flex-col gap-xl">
		<p class="text-low-contrast">
			Développeur front-end & UI Designer créant des expériences digitales engageantes, accessibles et orientées résultats.
		</p>
		<p class="text-low-contrast">
			Je fais le lien entre esthétique et performance, en concevant des solutions web qui répondent à de vrais besoins. Grâce à mon expertise en intégration front-end, design system et accessibilité, je construis des produits à la fois élégants, efficaces et durables.
		</p>
		</div>
		</div>
		<div>
			<Button>Sign in width Google</Button>
		</div>
	</div>
</Layout>