---
import { Hero, Tile } from '@components';
import Layout from '@layouts/Layout.astro';
import { KEYHIGHLIGHTS_DATA, KEYSOCIALS_DATA } from '@data';


---

<Layout>
	<div class="flex flex-col gap-4xl">
		<Hero />
		<div class="flex flex-col gap-md">
			<div class="container-grid">
				{KEYHIGHLIGHTS_DATA.map((item) => (
					<Tile {...item} />
				))}
			</div>
		</div>
		<div class="flex flex-col gap-lg">
			<h3 class="heading">Mes profils</h3>
			<div class="container-grid">
				{KEYSOCIALS_DATA.map((item)=>(<Tile target="_blank" {...item}/>))}
			</div>
		</div>
	</div>
</Layout>
