@use "../tools/mixins";

$font-size-base: 1rem;
$font-size-multipliers: (0.75, 0.875, 1, 1.125, 1.25, 1.5, 1.875, 2.25, 3, 3.75, 4.5);
$font-size-prefix: "font-size";

$line-height-list: (1, 1.25, 1.375, 1.5, 1.625, 2);
$line-height-prefix: "line-height";

@layer theme {
 @font-face {
  font-family: "InterVariable";
  src: url("/fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
 }
 @font-face {
  font-family: "GoogleSansCodeVariable";
  src: url("/fonts/GoogleSansCode-Variable.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
 }

 :root {
  --font-family-inter: "InterVariable";
  --font-family-google-sans-code: "GoogleSansCodeVariable";

  @include mixins.scale-variables($font-size-base, $font-size-multipliers, $font-size-prefix);
  @include mixins.css-variables($line-height-list, $line-height-prefix);
 }
}
