.btn {
 width: fit-content;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 gap: var(--size-2xs);
 padding: var(--size-xs) var(--size-lg);
 border-radius: var(--radius-inside);

 &.btn-primary {
  color: var(--color-text-inverse);
  background-color: var(--color-surface-solid);
 }

 &.btn-soft {
  color: var(--color-text-strong);
  background-color: var(--color-surface-interactive);
 }

 &.btn__wide {
  width: auto;
 }

 & .btn__label {
  padding-inline: var(--size-2xs);
 }

 &:hover {
  cursor: pointer;

  &.btn-primary {
   background-color: var(--color-surface-solid-hover);
  }

  &.btn-soft {
   background-color: var(--color-surface-interactive-hover);
  }
 }

 &:focus {
  outline: none;
 }

 &:focus-visible {
  box-shadow: var(--shadow-focus);
 }
}
