---
import "../styles/global.css"

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hugo Miranda - Portfolio</title>
	</head>
	<body class="surface-app">
		<header class="container-app mx-auto">
			Header
		</header>
		<main class="container-app mx-auto pt-4xl pb-3xl">
			<slot></slot>
		</main>
		<footer class="surface-subtle pt-3xl pb-3xl">
			<div class="container-app mx-auto">

				Footer
			</div>
		</footer>
	</body>
</html>
