---
import Analytics from "@vercel/analytics/astro";
import { ClientRouter } from "astro:transitions";

import { Footer, Header } from "@components";
// import "@styles/global.css";
import "@styles/index.scss";

const generator = Astro.generator;
const currentPath = Astro.url.pathname;
---

<html lang="fr">
 <head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={generator} />
  <title>Hugo Miranda - Portfolio</title>
  <Analytics />
  <ClientRouter />
 </head>
 <body class="surface-app">
  <Header currentPath={currentPath} />
  <main class="container-app mx-auto pt-5xl pb-5xl">
   <div class="flex flex-col gap-4xl">
    <slot />
   </div>
  </main>
  <Footer />
 </body>
</html>
