---
import {Footer, Header} from "../components"
import "../styles/global.css"
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hugo Miranda - Portfolio</title>
	</head>
	<body class="surface-app">
		<header class="container-app mx-auto flex justify-center pt-2xl">
			<Header currentPath={Astro.url.pathname} />
		</header>
		<main class="container-app mx-auto pt-4xl pb-3xl">
			<slot></slot>
		</main>
		<Footer/>

	</body>
</html>
